<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123167687892-ig0981hsp9t6salsg638a14g2unh4nsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123167687892-ig0981hsp9t6salsg638a14g2unh4nsr</string>
	<key>API_KEY</key>
	<string>AIzaSyD0mMfPzqx7-_qfcE_0X0HxTehfgLxm4WA</string>
	<key>GCM_SENDER_ID</key>
	<string>123167687892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeynepbayrakdemirel.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-ed848</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-ed848.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123167687892:ios:10993a316884bac31d6741</string>
</dict>
</plist>